
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f3f3;
    position: absolute;
    width: 1047px;
    height: 1662px;
    left: 20px;
    top: 50px; 

 
}
.top-nav{
    display: flex;
    justify-content: space-between;

}
.button{
    text-decoration: none;
    background-color: #e02c6d;
    margin-top: 30px;
    color:white;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 700;
}
#btn-see{
  margin-left:80% ;
}
.part-1{
    /* display: flex; */
    background-color: #f5f3f3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
}


#main-camera{
    width: 440px;
    height: 314px;

}
p{
    font-size: 1px;
}


nav a{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: .7em;
    margin-right: 15px;
    
}
.icon-container{
    margin-top:70px ;
    height: 70px;
    align-items: center;
    border: 1px solid  #d1cece;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-bottom: 60px;
    justify-content: space-between;
    background-color: #f5f3f3;
}

 .products-container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:auto ;
    gap: 30px;
    
 

} 

.checked{
    color:orange;
 
}
.title{
    text-align: center;
}
.text-part{
  
    text-align: center;
   
}
.products{
    width: 329px;
    height: 476px;
    border: 2px solid white ;
    border-radius: 10px;
    box-shadow: 5px 10px whitesmoke;
    align-items: center;
    background-color:white;
    text-align: justify;
    
}
h2{
    text-align:center;
}
.last-part{
    margin-top: 70px;
    display: flex;
    text-align: center;
    width: 1110px;
    height: 390px;
    background-color: #f5f3f3;
   
  
}
.review{
    margin-left: 20px;
    align-items: center;
    margin-top: 80px;
    background-color: #f5f3f3;
}
.btn-f{
    margin-top: 40px;
}
.btn{
    margin-top: 90px;
   margin-left: 20px;
}
#btn-more{
    align-items: center;
    margin-top: 200px;
  
}
.img-1:hover img{
        transform: scale(1.2);
        transform-origin: center;
}

.img-size{
    width: 300px;
    height: 256px;
    padding: 14px;
    
}


.footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: auto;
    height: 170px;
    padding-top: 2px;
    background-color:#17102b;
    text-align: center;
    color: blanchedalmond;
    
 }
 .fa-copyright{
     color: white;

 }
 .fab{
     color: white;
 }

 /* Media Queries */

 /* Queries For Mobile */
 @media only screen and (max-width:688px){

    body{
        width: 100%;
        position: relative;
    }


    h2{
        
        font-size: .4rem;
        display: block;
        position: relative;
        text-align: center;
        width: 100%;
       
        /* width: 50%; */
    }
    h3{
        width: 100%;

    }
     p{
    
         flex-direction: column;
         text-align: center;
         width: 100%;
     }

    .top-nav{
        flex-direction: column;
        position: relative;
        width: 100%;
    

    }
    .nav-text{
        display: none;
        position: relative;
        width: 100%;
        
    }
    .text-part{
        display: block;
        position: relative;    
    }


    .part-1{
        flex-direction: column;
        width: 80%;
        /* grid-template-columns: repeat(1,1fr); */
        display: block;
    }

    .icon-container{
       
        grid-template-columns: repeat(1,1fr);
        display: block;
        height: 200px;
        row-gap: 3px;
        border: none;
        

    }
    .products-container{
        grid-template-columns: repeat(1,1fr);


        

    }
   

    .last-part{
        flex-direction: column;
        width: 80%;
        height: 700px;
        position: relative;



    
    }
    .footer{
        width: 100%; 
        position: relative;
    }
    

 }     



 /* Queries For Tab */


  @media only screen and (max-width:998px){

    body{
        width: 100%;
        position: relative;
    }


    h2{
        
        font-size: 1rem;
        display: block;
        position: relative;
        text-align: center;
       
        width: 100%;
    }
    h3{
        width: 100%;

    }
     p{
    
         flex-direction: column;
         text-align: center;
         width: 100%;
     }

    .top-nav{
        flex-direction: column;
        position: relative;
        width: 100%;
    

    }
    .nav-text{
        display: none;
        position: relative;
        width: 100%;
        
    }
    .text-part{
        display: block;
        position: relative;    
    }


    .part-1{
        flex-direction: column;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        display: block;
    }

    .icon-container{
       
        grid-template-columns: repeat(2,1fr);
        /* display: block; */
        align-items: center;
        margin-left: 10%;
        height: 250px;
        row-gap: 5px;
        

    }
    .products-container{
        grid-template-columns: repeat(2,1fr);
       align-items: center;
       width: 100%;
        
    }
   

    .last-part{
        flex-direction: column;
        width: 100%;
        height: 700px;
        position: relative;



    
    }
    .footer{
        width: 100%; 
        position: relative;
    }
    

 }     

 

  